.container {
    width: 100%;
    display: flex;
    height: calc(100vh - 100px);
}

.container1 {
    width: 30%;
    position: relative;
}

.img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}


.container2 {
    width: 70%;
    display: flex;
    padding: 90px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
}

.text1 {
    width: 30%;
    font-weight: 900;
    text-align: left;
    font-size: 2.1rem;
    color: #ffffdcd7;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.title {
    color: #ffae00;
    font-weight: 700;
    margin-bottom: 30px;
}

.text {
    width: 30%;
    font-size: 1.3rem;
}

.content {
    margin: 40px 0;
    font-weight: 400;
    color: #ffffffd8;
}