.container {
    top: 0;
    z-index: 2;
    width: 100%;
    height: 120px;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #FF5722;
    transition: all .5s ease-in-out;
}

.containerNumber {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInfoNumber {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerInfoNumber>span {
    color: #fff;
}

.containerInfoNumber>span:nth-child(1) {
    font-size: 1.1rem;
}

.containerInfoNumber>span:nth-child(2) {
    cursor: pointer;
    font-weight: 800;
    font-size: 1.7rem;
    letter-spacing: 3px;
}

.containerNumberIcon {
    width: 60px;
    height: 60px;
    display: flex;
    margin-right: 10px;
    border-radius: 100%;
    outline-offset: 2px;
    align-items: center;
    justify-content: center;
    outline: 2px solid rgb(253, 165, 1);
    background-color: rgb(252, 252, 252);
}

.containerNumberIcon>.iconPhone {
    width: 40px;
    height: 40px;
}

.menuNav {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menuNav>a {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none;
}

.menuNav>a::after {
    left: 0;
    width: 0%;
    height: 2px;
    content: '';
    bottom: -5px;
    position: absolute;
    background: #fff;
    transition: .5s ease-in-out;
}

.menuNav>a:hover::after {
    content: '';
    width: 100%;
}

.containerCart {
    width: 20%;
    height: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
}

.containerCart>.containerCartInfo {
    width: 80px;
    height: 80px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.containerCart>.containerCartInfo>div {
    top: 0;
    left: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    color: #FF5722;
    font-weight: 800;
    position: absolute;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}