.container {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 120px 0 0 0;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.left {
    width: 60%;
    height: 100%;
    display: flex;
    margin: 200px 0;
    flex-direction: column;
    justify-content: space-between;
}

.left::-webkit-scrollbar {
    width: 5px;
    display: none;
}

.left::-webkit-scrollbar-track {
    background: transparent;
}

.left::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(26, 26, 26);
}

.leftContent {
    display: flex;
    height: 200px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.rigth {
    width: 20%;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
}

.containerCheckout {
    width: 70%;
    height: 70%;
    color: #fff;
}

.containerCheckout div:nth-child(1) {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.containerCheckout div:nth-child(2) {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: 300;
}

.containerCheckout div:nth-child(3) {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: 300;
}

.containerCheckout div:nth-child(4) {
    font-size: 1.3rem;
    font-weight: 300;
}

.containerCheckout div:nth-child(5) {
    padding: 15px;
    color: #ff6600;
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;

}

.containerInfo {
    width: 200px;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}


.containerInfo:nth-child(2)>img {
    animation: loading 1s infinite;
}

.containerInfo:nth-child(3)>img {
    opacity: .5;
}

.containerInfo:nth-child(4)>img {
    opacity: .5;

}

@keyframes loading {
    0% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

.containerInfo span:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 900;
    color: #292929;
    margin-bottom: -30px;
}

.containerInfo span:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10PX;
    color: #000000;
}

.containerInfo div {
    height: 100%;
    display: flex;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.containerInfo>img {
    max-width: 20%;
    object-fit: contain;
}