.container {
    width: 250px;
    height: 400px;
    display: flex;
    padding: 10px 80px;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 2rem;
    color: #ff5722;
    margin-top: 20px;
}

.price {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px 0;
    color: rgba(59, 0, 0, 0.616);
}

.desc {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    color: rgb(59, 0, 0);
}