.container {
    display: flex;
    padding: 20px 10px;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 60px 0 0 0;
    color: #ff5722;
}

.desc {
    font-size: 26px;
    color: #000000;
    width: 70%;
    margin: 30px 0 80px;
    letter-spacing: 2px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}