.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    width: 50%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 120px;
    margin-top: 60px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.image {
    object-fit: contain;
    min-height: 600px !important;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: rgb(255, 68, 0);

}

.price {
    font-size: 1.4rem;
    font-weight: 400;
    color: orangered;
}

.desc {
    width: 80%;
    font-weight: 300;
    font-size: 1.4rem;
}

.container_size {
    display: flex;
    margin: 40px 0;
}

.pizza_size {
    width: 130px;
    height: 130px;
    display: flex;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px 10px 0 0;
    background-color: rgba(255, 166, 0, 0.082);
}

.pizza_size>span {
    right: -20px;
    padding: 5px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    border-radius: 100px;
    background-color: orange;
}

.image_size_1 {
    min-width: 70px !important;
    min-height: 70px !important;
}

.image_size_2 {
    min-width: 90px !important;
    min-height: 90px !important;
}

.image_size_3 {
    min-width: 100px !important;
    min-height: 100px !important;
}

.containerSelect {
    margin: 40px 0 0 0;

}

.containerSelect>h2 {
    color: rgb(53, 53, 53);
}

.containerInputs {
    display: flex;
}

.containerInputs>div {
    display: flex;
    align-items: center;
    margin: 20px 10px 0 0;
    justify-content: center;
}

.containerInputs>div>input {
    width: 20px;
    height: 20px;

}

.containerInputs>div>label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 5px;
}

.container_cart {
    height: 40px;
    display: flex;
    margin: 40px 0 0 0;
    align-items: center;
}

.container_cart>input {
    width: 40px;
    height: 100%;
    font-size: 1.4rem;
}

.container_cart>div {
    height: 115%;
    display: flex;
    margin: 0 0 0 10px;
    align-items: center;
    background-color: orangered;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}